/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #34495e;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Estilo de cada sección de figura geométrica */
.figura {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #ecf0f1;
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, button {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    font-size: 1rem;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.resultado {
    margin-top: 15px;
    background-color: #86d3ff;
    padding: 10px;
    border-radius: 5px;
    color: #f80000;
    text-align: center;
}

/* Imágenes */
.imagen-figura {
    display: block;
    margin: 0 auto 15px;
    max-width: 150px;
}

/* Estilos del botón para regresar al índice */
.boton-regreso {
    text-align: center;
    margin-top: 20px;
}

.boton-regreso .btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton-regreso .btn:hover {
    background-color: #2980b9;
}
